<header class="bg-primary">
    Header
</header>
<nav>
</nav>
<div>
    <div class="row">
        <aside class="admin-sidebar bg-success col-3">
            <h1>Siderbar</h1>
            <ul>
                <li><a href="javascript:;">Dashboard</a></li>
                <li><a href="javascript:;">List category</a></li>
                <li><a href="javascript:;">List book</a></li>
            </ul>
        </aside>
        <div class="col-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<footer class="bg-danger">Footer</footer>